.calc{
	width: 108%;
  height: 850px;
  margin-left: -15px;
  margin-top: -40px; 
  background-color: 	#2F4F4F;
  color: #fff; 
}

.botao{
  color: #fff;
  background-color: 	#2F4F4F;
	height: 80px;
}

.num{
  margin-right: -20;
  color: #fff;
	font-family: "OCR A Std";
}

#display{
  margin-left: 0px;
  margin-top: -30px;
	background-color: #2F4F4F;
  height: 250px; 
  width: 425px;
  font-size: 35px;
  color: #fff;
}

.botaozao{
  color: #fff;
	height: 80px;
  background-color: #2F4F4F;

}
